@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/__image-first/header__image-first.css);
@import url(../blocks/header/__image-second/header__image-second.css);
@import url(../blocks/header/__image-third/header__image-third.css);
@import url(../blocks/header/__span-group/header__span-group.css);
@import url(../blocks/header/__subtitle-accent/header__subtitle-accent.css);
@import url(../blocks/header/__subtitle-through/header__subtitle-through.css);
@import url(../blocks/header/__button/header__button.css);
@import url(../blocks/advantages/advantages.css);
@import url(../blocks/advantages/__title/advantages__title.css);
@import url(../blocks/advantages/__container/advantages__container.css);
@import url(../blocks/advantages/__card-image/advantages__card-image.css);
@import url(../blocks/advantages/__card-text/advantages__card-text.css);
@import url(../blocks/events/events.css);
@import url(../blocks/events/__title/events__title.css);
@import url(../blocks/events/__text/events__text.css);
@import url(../blocks/events/__images/events__images.css);
@import url(../blocks/events/__image/events__image.css);
@import url(../blocks/events/__image/_first/events__image_first.css);
@import url(../blocks/events/__image/_second/events__image_second.css);
@import url(../blocks/events/__image/_third/events__image_third.css);
@import url(../blocks/events/__image/_fourth/events__image_fourth.css);
@import url(../blocks/events/__sticker/events__sticker.css);
@import url(../blocks/events/__sticker/_first/events__sticker_first.css);
@import url(../blocks/events/__sticker/_second/events__sticker_second.css);
@import url(../blocks/events/__sticker/_third/events__sticker_third.css);
@import url(../blocks/plus/plus.css);
@import url(../blocks/plus/__title/plus__title.css);
@import url(../blocks/plus/__text/plus__text.css);
@import url(../blocks/plus/__image-first/plus__image-first.css);
@import url(../blocks/plus/__image-second/plus__image-second.css);
@import url(../blocks/plus/__image-third/plus__image-third.css);

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

p,
h1,
h2,
h3 {
  margin: 0;
}
