@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/__image-first/header__image-first.css);
@import url(../blocks/header/__image-second/header__image-second.css);
@import url(../blocks/header/__image-third/header__image-third.css);
@import url(../blocks/header/__span-group/header__span-group.css);
@import url(../blocks/header/__subtitle-accent/header__subtitle-accent.css);
@import url(../blocks/header/__subtitle-through/header__subtitle-through.css);
@import url(../blocks/header/__button/header__button.css);
@import url(../blocks/advantages/advantages.css);
@import url(../blocks/advantages/__title/advantages__title.css);
@import url(../blocks/advantages/__container/advantages__container.css);
@import url(../blocks/advantages/__card/advantages__card.css);
@import url(../blocks/advantages/__card-image/advantages__card-image.css);
@import url(../blocks/advantages/__card-text/advantages__card-text.css);

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

p,
h1,
h2,
h3 {
  margin: 0;
}
